/* 
    General Styles
*/
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
.navbar{
    font-size:2rem;
    padding-left:2rem;
    padding-right:2rem;
    font-family: 'Special Elite', cursive;
    background-color: black;
    color:white;
    a{
        color:white;
    }
    .btn{
        background-color: rgba(0, 0, 0, 0.493);
        border:none;
    }
}
.polaroid {
    width:350px;
    border: 1px solid darkgrey;
    background-color: white;
    padding: 15px 15px 15px 15px;
    box-shadow: 5px 10px 10px rgb(49, 49, 49);
    font-family: 'Homemade Apple', cursive;
    
}
.polaroidImg{
    padding:none;
    margin:none;
    border: 1px solid black;
}
.infocol{
    background-image: url("https://res.cloudinary.com/petrep/image/upload/v1620946792/oldmarbletexture.png");
    background-size: 150%;
    background-position: center center;
    height: 100%;
    border: 1px solid darkgrey;
    
    padding: 15px 15px 15px 15px;
    box-shadow: 5px 10px 10px rgb(49, 49, 49);
    font-family: 'Homemade Apple', cursive;
}