/* 
    General Styles
*/
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
body{
    background: url("https://res.cloudinary.com/petrep/image/upload/v1620755963/ancient/sphynxFrontBig_jalfad.jpg");
    //background: linear-gradient(#FAEBD7,#AE8D61);
    background-repeat: no-repeat;
    background-size: cover;font-family: 'Special Elite', cursive;
    
}
.navbar{
    font-size:2rem;
    padding-left:2rem;
    padding-right:2rem;
    font-family: 'Special Elite', cursive;
    background-color: black;
    color:white;
    a{
        color:white;
    }
    .btn{
        background-color: rgba(0, 0, 0, 0.493);
        border:none;
    }
}
.polaroid {
    
    width:350px;
    border: 1px solid darkgrey;
    background-color: white;
    padding: 15px 15px 15px 15px;
    box-shadow: 5px 10px 10px rgb(49, 49, 49);
    font-family: 'Homemade Apple', cursive;
    
}
.polaroidImg{
    padding:none;
    margin:none;
    border: 1px solid black;
}
.infocol{
    background-image: url("https://res.cloudinary.com/petrep/image/upload/c_crop,w_1022/v1620946792/oldmarbletexture.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    width:400px;
    border: 1px solid darkgrey;
    padding: 15px 15px 15px 15px;
    box-shadow: 5px 10px 10px rgb(49, 49, 49);
    font-family: 'Homemade Apple', cursive;
}
.list-img-thumb{
    min-height: 25vh;
    width: 100%;
    object-fit: cover;
}
.list-row{
    background-color: rgba(0, 0, 0, 0.288);
    
    box-shadow:  0px 5px 15px rgba(0, 0, 0, 0.404);
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}
.centered-img-text{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
 font-family: 'Special Elite', cursive;
    
        color:white;
        font-weight: bolder;
        text-shadow: 1px black;
    
}
.darken-img{
    filter: brightness(50%);
}
.polaroid-thumb{
    margin-top:15px;
}
.modal-body{
    text-align: center;
}
.modal-content{
    background-image: url("https://res.cloudinary.com/petrep/image/upload/c_crop,w_1022/v1620946792/oldmarbletexture.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    align-items: center;
}
.dropMenu{
    background-color: gray;
}
.profileInput{
    padding:15px;
}
.siteInfoImage{
   width:100%;
   height:300px;
    object-fit:scale-down; 
    
}